@charset "utf-8";
/* CSS Document */

*{margin:0px; padding:0px;}
body{margin:0px; padding:0px;  font-size:12px; font-family:"微软雅黑"; color:#323232; background-position:top center; background-repeat:no-repeat; background-color:#dbdbe8;}
h1,h2,h3,img{margin:0px; padding:0px;list-style-type:none;border:0px;}
h2{ font-size:12px; font-family:Arial;FONT-WEIGHT: bold;}
h1{FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #444444; LINE-HEIGHT: 28px; FONT-FAMILY:Arial;}
ul,ol,li,dl{list-style-type:none;}
form {margin: 0px; }
.fix{*zoom:1;}.fix:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
a:link{font-family:Arial; text-decoration:none; color:#323232;}
a:visited{font-family:Arial; text-decoration:none; color:#323232;}
a:hover{font-family:Arial; text-decoration:none; color:#d70c19;}
.none{ display:none;}
.clear{clear:both;}



/* header */
#head{ background:url(topbga.jpg)/*tpa=http://www.chinajey.com/edu/images/topbga.jpg*/; z-index:9999;width:100%; height:86px;}
#head #headall{width:1003px; margin:0px auto; height:69px;}
#head #headall #headleft{width:204px; float:left; padding-right:50px;}
#head #headall #headleft img{float:left;}
#head #headall #headmid .header {margin:0; float:left;}
#head #headall #headmid img{
	float: left;
	padding-top: 23px;
}
#head #headall #headmid .header ul {padding:0; margin:0;list-style-type: none; z-index:1000;}
#head #headall #headmid .header ul li {float:left; position:relative;}
#head #headall #headmid .header ul li .hide{
	line-height: 16px;
	font-size: 14px;
	font-weight: normal;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 31px;
	font-family: "微软雅黑";
}
#head #headall #headmid .header ul li .topbg{
	line-height: 16px;
	font-size: 14px;
	font-weight: normal;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 31px;
	font-family: "微软雅黑";
}
#head #headall #headmid .shu{
	line-height: 16px;
	font-size: 12px;
	font-weight: normal;
	float: left;
	color: #323232;
	padding-top: 30px;
	font-family: "微软雅黑";
}
#head #headall #headmid .header ul li a, .menu ul li a:visited {display:block; text-align:center; text-decoration:none; height:30px; color:#323232;border-width:1px 1px 0 0; line-height:30px;}
#head #headall #headmid .header ul li ul {display: none;}
#head #headall #headmid .header ul li:hover a {
	color: #d70c19;
	font-family: "微软雅黑";
}
#head #headall #headmid .header ul li:hover ul {
	display: block;
	position: absolute;
	top: 50px;
	left: 0;
	left: 0;
	width: 125px;
	font-size: 12px;
	text-align: left;
}
#head #headall #headmid .header ul li:hover ul li a {
	display: block;
	color: #333333;
	border-bottom: 1px solid #323232;
	width: 98px;
	background-image: url(an-1.jpg)/*tpa=http://www.chinajey.com/edu/images/an-1.jpg*/;
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 25px;
	font-family: "微软雅黑";
}
#head #headall #headmid .header ul li:hover ul li a:hover{
	color: #d70c19;
	background-image: url(an-2.jpg)/*tpa=http://www.chinajey.com/edu/images/an-2.jpg*/;
	background-repeat: no-repeat;
	font-family: "微软雅黑";
}
.header ul li:hover ul li a:hover {background:#666; color:#ed7713;}
#head #headall #headright{width:208px; height:59px; padding-top:10px; float:right; padding-right:10px;}
#head #headall #headright #headrt{ border-bottom:#dbdbdb 1px solid; font-size:12px; color:#979797; height:25px; padding-bottom:5px; line-height:15px; font-weight:bold; text-align:right;}
#head #headall #headright #headrt .headrtxl{float:right;}
#head #headall #headright #headrt .headrtxl .headrtxlbox{width:110px; border:1px solid #6f6f6f; background:#b41d23; color:#FFF;}
#head #headall #headright #headrt .headrtxl .headrtxlbox .headrtxlxx{background:#FFF; color:#323232;}
#head #headall #headright #headrb{font-size:12px; color:#d70c19; text-align:right; line-height:28px;}
#head #headall #headright #headrb img{padding-top:5px; float:left; padding-left:35px;}


#float{
	height: 214px;
	width: 99px;
	position: fixed;
	top: 35%;
	right: 7%;
	background: url(float.png)/*tpa=http://www.chinajey.com/edu/images/float.png*/ no-repeat;
	background-position: right;
	z-index: 9999;
}

/*banner部分开始-----------------------------------------------------*/
.banner{
	min-width: 980px;
	height: 486px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
}
.banner_show{
	width: 100%;
	text-align: center;
	height: 486px;
	overflow: hidden;
	position: relative;
}
.bannger_inbox{ position:absolute; left:50%; top:0;}

/*翻页*/
.banner_pre_next{position:relative;z-index:105;top:245px;width:1230px;left:50%; height:42px;margin-left:-615px;*left:240px;}
.banner_pre_next a{ width:42px; height:84px; background:url(btn-1.png)/*tpa=http://www.chinajey.com/edu/images/btn.png*/ no-repeat; text-indent:-999em;}
.banner_pre_next .banner_btn_left{position:absolute;left:-42px; background-position:0px 0px;}
.banner_pre_next .banner_btn_right{position:absolute;right:-42px; background-position:-42px 0px;}


/*圆点*/
.banner_mag{width:1003px; margin:0 auto;}
.banner_mag .yq_banner_list{height:13px;position:absolute; top:445px; z-index:100; padding-right:15px; left:50%;}
.banner_mag .yq_banner_list a{display:inline-block; width:17px; height:17px; background-color:#FFF; margin-left:5px;}
.banner_mag .yq_banner_list a.hover{background-color:#d70c19;}


/*banner部分结束-----------------------------------------------------*/

#cbg{background:#FFF;}
#content{width:1003px; margin:0 auto; background:url(lbg.png)/*tpa=http://www.chinajey.com/edu/images/lbg.png*/ repeat-y; margin-top:15px;padding-bottom: 30px;}


.focus-news{color:#fff; position:absolute; left:50%;margin-left:-500px; z-index:9999;font-family:"Arial"; margin-top:-390px;}
.focus-news .banner_box{margin-bottom:10px; text-align:left; font-size:12px; background-color:#b41d23; width:205px; height:72px; background-image:url(in1-1.png)/*tpa=http://www.chinajey.com/edu/css/in1.png*/; background-position:12px 12px; background-repeat:no-repeat;}
.focus-news .banner_box a{color:#FFF; width:130px; height:72px; display:block;}
.focus-news .banner_box a:hover{color:#000;}
.focus-news .banner_box img{padding-top:12px; float:left; padding-right:12px;}
.focus-news .banner_box .banner_box_text{
	font-weight: normal;
	display: table-cell;
	vertical-align: middle;
	padding-top: 17px;
	font-size: 20px;
	width: 130px;
	font-family: "微软雅黑";
}
.focus-news .bannerr_box{margin-bottom:10px; text-align:left; font-size:12px; background-color:#b41d23; width:205px; height:72px; background-image:url(in1-1.png)/*tpa=http://www.chinajey.com/edu/css/in1.png*/; background-position:145px 12px; background-repeat:no-repeat;}
.focus-news .bannerr_box a{color:#FFF; width:130px; height:72px; padding-left:15px; display:block;}
.focus-news .bannerr_box a:hover{color:#000;}
.focus-news .bannerr_box img{padding-top:12px; float:left; padding-right:12px;}
.focus-news .bannerr_box .bannerr_box_text{
	font-weight: normal;
	display: table-cell;
	vertical-align: middle;
	padding-top: 17px;
	font-size: 20px;
	width: 130px;
	font-family: "微软雅黑";
}
/*---------------- for index start----------------*/




#inleft{padding-top:20px; width:330px; float:left;}
#inleft #inltit{
	height: 28px;
	line-height: 28px;
	border-bottom: #000 solid 1px;
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 5px;
}
#inleft #inltit a{font-size:12px; text-align:right; float:right; color:#d51827; font-weight:normal;}
#inleft #inltit a:hover{color:#000;}
#inleft #inlnew{color:#686868; line-height:18px;}
#inleft #inlnew a{color:#686868; padding-left:15px;}
#inleft #inlnew a:hover{color:#d70c19;}
#inright{padding-top:45px; padding-left:30px; float:left;}
#inright #inrbox{padding-left:25px; width:180px; background:url(inbghui.jpg)/*tpa=http://www.chinajey.com/edu/images/inbghui.jpg*/ top right; height:45px; border:1px solid #dcdcdc; float:left; line-height:45px;}
#inright #inrbox a{width:180px;height:45px; display:block; color:#000;}
#inright #inrbox a:hover{background:url(inbg.jpg)/*tpa=http://www.chinajey.com/edu/images/inbg.jpg*/ top right;}



#content #left{width:208px; float:left; margin-right:30px; margin-bottom:20px;}
#content #left #lefttit{height:45px; background:#b41d23; color:#FFF; padding-top:10px; font-size:18px; padding-left:17px;}
#content #left #lefttit #lefttits{font-size:11px;}
#content #left #leftbig{margin-left:17px; margin-right:17px; height:34px; line-height:34px; border-bottom:#7a7a7a 1px solid;}
#content #left #leftbig a{color:#363636;}
#content #left #leftbig a:hover{color:#b41d23;}
#content #left #leftbig img{float:right; padding-top:10px;}
#content #left .leftsmall{line-height:30px; margin-left:34px; margin-right:17px; border-bottom:#7a7a7a 1px dashed;}


#content #right{width:765px; float:left;}
#content #right #road{height:37px; background:url(roadbg.png)/*tpa=http://www.chinajey.com/edu/images/roadbg.png*/ no-repeat top right; text-align:right; padding-right:60px; line-height:37px; color:#1f1a17; margin-bottom:1px;}
#content #right #road a{color:#919191;}
#content #right #road a:hover{color:#1f1a17;}

#content #right #main{background:url(leftbg.png)/*tpa=http://www.chinajey.com/edu/images/leftbg.png*/; padding-left:30px; padding-right:40px; padding-top:20px; padding-bottom:20px; color:#494949; font-size:12px;}
#content #right #main #mtit{color:#d51827; font-size:18px; line-height:36px; font-weight:bold; padding-bottom:5px;}
#content #right #main #mtits{color:#494949; font-size:12px; font-weight:bold; padding-top:20px; padding-bottom:20px;}
#content #right #main #mtxt{line-height:20px; color:#1f1a17;}
#content #right #main #mxuxian{border-bottom:1px dashed #454545;}
#content #right #main #mclass{border-bottom:1px dashed #454545; height:38px; line-height:38px; font-size:18px; font-weight:bold;}
#content #right #main #mclass a{color:#454545;}
#content #right #main #mclass a:hover{color:#d70c19;}
#content #right #main #mclass img{padding-top:8px; float:left; padding-right:10px; padding-left:5px;}
#content #right #main #zixun{
	width: 300px;
	float: left;
	background-image: url(zx-bg.png)/*tpa=http://www.chinajey.com/edu/images/zx-bg.png*/;
	background-repeat: no-repeat;
	padding: 20px;
	margin-top: 15px;
}
.a01{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 15px;
	background-color: #B41D23;
	color: #FFFFFF;
}

#content #right #rbot{background-color:#afafba; padding:10px 15px; margin-top:15px;}
#content #right #rbot img{float:left;}

#content #right #main #mjjbox{line-height:20px; color:#1f1a17; width:330px; float:left; padding-top:15px;}
#content #right #main #mjjbox #mjjtits{font-size:16px; font-weight:bold; color:#d51827; line-height:24px; padding-left:40px; background:url(sj.png)/*tpa=http://www.chinajey.com/edu/images/sj.png*/ no-repeat top left; margin-bottom:5px;}
#content #right #main #mrzl{width:485px; float:left; margin-right:40px;}
#content #right #main #mrzl #mtitbig{font-size:25px; background:url(sjl.png)/*tpa=http://www.chinajey.com/edu/images/sjl.png*/ top left no-repeat; height:46px; line-height:46px; padding-left:95px; padding-bottom:10px;}
#content #right #main #mrzl #mrzclass{border-bottom:1px dashed #454545; height:38px; line-height:38px; font-size:16px; font-weight:bold;}
#content #right #main #mrzl #mrzclass a{color:#454545;}
#content #right #main #mrzl #mrzclass a:hover{color:#d70c19;}
#content #right #main #mrzl #mrzclass img{padding-top:8px; float:left; padding-right:10px; padding-left:5px;}

#content #right #main #mrzr{float:left;}
#content #right #main #mrzr #mrzrtit{float:left; line-height:40px; font-size:14px; font-weight:bold; color:#424242;}
#content #right #main #mrzr .mrzrbox{width:168px; background:#FFF; height:210px; padding-left:18px; margin-top:10px;}
#content #right #main #mrzr .mrzrtxt{width:150px; height:29px; border:#c6c6c6 1px solid; margin-bottom:10px;}
#content #right #main #mrzr .mrzrbot{background:#b2b2b2; border:none; text-align:center; line-height:31px; height:31px;width:152px; color:#FFF; font-weight:bold;}



#foot{height:34px; padding-top:20px; background:url(bgf.jpg)/*tpa=http://www.chinajey.com/edu/images/bgf.jpg*/ repeat-x;}
#foot #foott{height:37px; color:#000; line-height:37px; width:970px; margin:0px auto; padding-left:18px; padding-right:15px;}
#foot #foott #foottl{float:left; width:555px;}
#foot #foott #foottm{
	float: right;
}
#foot #foott #foottm #footshu{float:left;}
#foot #foott #foottm a{float:left; padding-left:10px; padding-right:10px;}
#foot #foott #foottr{float:right;}
#foot #foott #foottr img{ padding-left:3px; padding-top:3px;}
#foot #footm{
	height:40px;
	width:970px;
	padding-left:18px;
	padding-right:15px;
	line-height:18px;
	color:#E9E9E9;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 7px;
}
#foot #footm a{color:#999999;}
#foot #footm a:hover{color:#979797;}


#newbox{
	margin-bottom:10px;
	height:145px;
	background-color:#f7f7f7;
	font-family: "微软雅黑";
}
#newboxb{margin-bottom:10px; height:125px; background-color:#FFF;}
#newboximg{padding-top:15px; text-align:center; width:170px; float:left;}
#newboxr{padding-top:15px; float:left; width:500px;}
#newboxr img{ float:left;}
#newboxr #newboxrtit{
	font-size:18px;
	font-family: "微软雅黑";
}
#newboxr #newboxrtit a{
	text-decoration:none;
	color:#000;
	font-family: "微软雅黑";
}
#newboxr #newboxrtit a:hover{
	text-decoration:underline;
	color:#B41D23;
	font-family: "微软雅黑";
}
#newboxr #newboxrtxt{
	height:45px;
	font-family: "微软雅黑";
}
#newboxr #newboxrdat{
	font-size:11px;
	font-weight:normal;
	padding-bottom:5px;
	padding-top:4px;
	color:#9a9a9a;
	font-family: Arial, Helvetica, sans-serif;
}
#newboxr #newboxrrm{
	font-size:12px;
	font-weight:bold;
	float:left;
	font-family: "微软雅黑";
}


#newbox01{
	margin-bottom:10px;
	height:125px;
	background-color:#f7f7f7;
	font-family: "微软雅黑";
}
#newboxb01{margin-bottom:10px; height:125px; background-color:#FFF;}
#newboximg{padding-top:15px; text-align:center; width:170px; float:left;}
#newboxr01{
	padding-top:15px;
	float:left;
	width:655px;
	padding-left: 15px;
}
#newboxr01 img{ float:left;}
#newboxr01 #newboxrtit01{
	font-size:18px;
	font-family: "微软雅黑";
}
#newboxr01 #newboxrtit01 a{
	text-decoration:none;
	color:#000;
	font-family: "微软雅黑";
}
#newboxr01 #newboxrtit01 a:hover{
	text-decoration:underline;
	color:#B41D23;
	font-family: "微软雅黑";
}
#newboxr01 #newboxrtxt01{
	height:45px;
	font-family: "微软雅黑";
}
#newboxr01 #newboxrdat01{
	font-size:11px;
	font-weight:normal;
	padding-bottom:5px;
	padding-top:4px;
	color:#9a9a9a;
	font-family: Arial, Helvetica, sans-serif;
}
#newboxr01 #newboxrrm01{
	font-size:12px;
	font-weight:bold;
	float:left;
	font-family: "微软雅黑";
}
