@charset "utf-8";
/* CSS Document */

.banner{ min-width:980px; height:100%; position:inherit; margin:0 auto; overflow:hidden; z-index:1;}
.banner_show{ width:100%; text-align:center; overflow:hidden; position:absolute; height:inherit;}
.bannger_inbox{ position:absolute; left:50%; top:0;}

/*翻页*/
.banner_pre_next{position:absolute;z-index:105;top:70px;width:860px;left:55%; height:45px;margin-left:-501px;*left:240px; margin-top:86px;}
.banner_pre_next a{ width:45px; height:84px; background:url(btngx.png)/*tpa=http://www.chinajey.com/edu/images/btngx.png*/ no-repeat; text-indent:-999em;}
.banner_pre_next .banner_btn_left{position:absolute;left:-45px; background-position:0px 0px;}
.banner_pre_next .banner_btn_right{position:absolute;right:-45px; background-position:-45px 0px;}


/*圆点*/
.banner_mag{width:1003px; margin:0 auto;}
.banner_mag .yq_banner_list{height:13px;position:absolute; top:150px; z-index:100; padding-left:400px; left:50%; margin-top:86px;}
.banner_mag .yq_banner_list a{display:inline-block; width:14px; height:14px; background-color:#FFF; margin-left:5px;}
.banner_mag .yq_banner_list a.hover{background-color:#d70c19;}


/*banner部分结束-----------------------------------------------------*/
