.warrper{width:1280px;height:100%;margin:0 auto;margin-top:80px;}
.nav{float:left;width:256px;border:1px solid #2e4452;}
.nav .tit{background-color: #2e4452;padding:20px 10px 20px 40px;color: #fff;font-size: 1.3em;}
.nav .list li{padding:10px 10px 10px 40px;}
.nav .list li a{color: #2e4452;display:block;width:100%;height:100%;}
.nav .list li.sel a{color: #fff;}
.nav .list li:hover,.nav .list li:hover a,.nav .list li a:hover,.nav .list li.sel{background-color: #40778d;color: #fff;}
.rightcont{margin-left:280px;width:980px;font-size: 0.9em;}
.rightcont img{margin:20px 0}
.rightcont .banner{width:980px;margin-bottom:10px;}
.rightcont .banner img{margin-top:0;}
.rightcont h5{color: #105571;font-weight: 700;padding:15px 0;display: block;font-size: 0.9em;text-align: left;}
.rightcont h6{font-weight: 700;display: block;font-size: 0.8em;text-align: left;padding-top:15px;}
.rightcont p{text-align: left;text-indent: 2em;}
.rightcont .piclist{text-align: left;}
.rightcont .piclist img{margin:20px 20px 20px 0;}
.rightcont table{width:100%;}
.rightcont table.bluebg th{background-color: #40778d;color: #fab506;font-size: 1.1em;border:1px solid #fff;padding:10px;text-align: center;}
.rightcont table.bluebg td{background-color: #40778d;color: #fff;border:1px solid #fff;padding:10px;}
.rightcont table td span{display: block;width: 100%;text-align: center;}
.rightcont table.witebg th{background-color: #fff;color: #4a4848;font-weight:700;border:1px solid #4a4848;padding:10px;text-align: center;}
.rightcont table.witebg td{background-color: #fff;color: #4a4848;border:1px solid #4a4848;padding:10px;}
