* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{	
	width: 100%;
	font:14px arial,"Microsoft YaHei",sans-serif;
	overflow-x: hidden;	
	color:#2e4452;
}
ul,li {
	list-style: none;
}
a{text-decoration: none;display: inline-block; cursor: pointer;#2e4452;}
a:hover,a:focus{text-decoration:underline;color: #1F8ACC;}
ul,li{list-style: none;}
header{width:100%;height:70px;background-color:transparent;position:fixed;top:0;z-index: 999;}
header .logo{margin:15px 0 0 100px;float:left;}
header .logo img{width:155px;}
header .logo a{display:inline-block;width:200px;height:100px;}
a.noticebtn:hover,a.loginbtn:hover{text-decoration: none;color: #1F8ACC;}
a.noticebtn:hover *,a.loginbtn:hover *{color: #1F8ACC;}
header .longin{float:right;margin-top:10px;margin-right:80px}
header .longin span.sel a,header .longin span.sel ins{color:#1F8ACC;}
header .longin span{display:inline-block;padding:5px 6px;font-size:16px;margin:0 20px;text-align:center}
header .longin span a{cursor:pointer;color:#fff;}
header .longin a:active{color:#2e4452;}
header .longin span ins{display: block;font-size:12px;color:#fff; text-decoration:none;}

article{float:left;display:block;width:100%;height:690px;z-index:10;}
article.art1{position:relative;}
article.art2{perspective: 1000px;background-color:#f2f2f2;position:relative}
article .title{margin:0 auto;text-align: center;margin-top:60px;}
article.art3{perspective: 1000px;min-height:420px;background-color:#2e4452;}
article.art4{perspective: 1000px;background-color:#f2f2f2;height:auto;padding-bottom:50px;}
.clearboth{clear:both;}
.displayblock{display:block;}
.main{width:100%;height:100%;position:absolute;top:0;z-index:-1;background-color: #3f617d;}
.bg0{position:absolute;top:0;left:0;height:100%;width:100%;min-height:300px;
    background: url(background_01.jpg)/*tpa=http://www.chinajey.com/resources/images/background_01.jpg*/ no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    }
.bg{position:absolute;top:0;left:0;height:100%;width:100%;min-height:300px;}
.bg1{position:absolute;top:0;left:0;height:100%;width:100%;min-height:300px;
background: url(background_02.jpg)/*tpa=http://www.chinajey.com/resources/images/background_02.jpg*/ no-repeat  top center;
background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    }
.bg2{position:absolute;top:0;left:0;height:100%;width:100%;min-height:300px;
	background: url(background_01.jpg)/*tpa=http://www.chinajey.com/resources/images/background_01.jpg*/ no-repeat top center;
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
   }

.main1,.main2,.main3,.main4,.main5{color:#fff;margin: 0 auto;width:100%;text-align: center;margin-top:210px;}
.main2,.main3,.main4,.main5{display:none;}
/*.main1 span,.main2 span,.main3 span,.main4 span{font-size:30px;display:inline-block}*/
/*.main2{margin-left:30%;}
.main3{margin-left:45%;}
.main4{;margin-top:12%;}*/
.main1 p.tit,.main2 p.tit,.main3 p.tit,.main4 p.tit,.main5 p.tit{font-size:50px;line-height:68px;}
.main1 p.titone,.main2 p.titone,.main3 p.titone,.main4 p.titone,.main5 p.titone{font-size:30px;line-height:56px;}
.main1 p,.main2 p,.main3 p,.main4 p,.main5 p{font-size:20px;line-height:28px;}
.main3 p span.org,.main2 p span.org,.main4 p span.org{}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.clearfix {
	*+height: 1%;
}

nav{		
	width:100%;
	margin:0 auto;	
	text-align: center;
	position:absolute;
	bottom:10px;
}
.navmin{width:1216px;margin:0 auto;text-align: center;position: relative;bottom:0;}
nav .navmin li{width:25%;height:auto;float: left;	box-sizing: border-box;}
nav .navmin li a{width:100%;display: inline-block;box-sizing:border-box;}
.line-nav{border-bottom:1px solid #fff;display:block;width:100%;position: relative;bottom:5px;}
nav .navmin div{width:100%;}
span.dian{
	border-radius: 50px;
	width: 10px;
	height: 10px;
	display: block;
	background: #fff;
	margin: 0 auto;
	margin-top:-6px;
	z-index:110;position:relative;
}
span.dian img{position:relative;top:-12px;left:-10px}
span.tit{display:block;text-align: center;color:#fff;font-size:22px;z-index:110;position:absolute;width:100%;top:35%;}
span.cont{display:block;text-align: center;color:#2e4452;font-size:16px;z-index:100;position:absolute;width:100%;top:60%;
    /*opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0%,-100%,0);
    transform: translate3d(0%,-100%,0);*/
    }
/*.navmin li a:hover span.cont{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}*/
nav .navmin .con{cursor:pointer;position:relative;width:100%;}
nav .navmin .con img{max-width:100%;opacity:1;}
nav .navmin li a .hover{
	border:0px;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;}
nav .navmin li:hover .div3,nav .navmin li:hover .div2,nav .navmin li:hover .div4,nav .navmin li:hover .div1{background-color:#cd441e;}
nav .navmin li .div3,nav .navmin li .div2,nav .navmin li .div4,nav .navmin li .div1{background-color:#b7c9d5;text-align:left;}
nav .navmin li:hover span{color:#fff;}
/*nav .navmin li a:hover .hover{border:0px;background:url(../images/transbg.png);}*/
li button.regbtn{cursor:pointer;height:50px;background-color:#738b9e;border:1px solid #fff;border-radius:20px;border-bottom-left-radius:0;border-top-left-radius:0;width:235px;margin-left:10px;font:20px arial,"Microsoft YaHei",sans-serif;color:#fff;}
/*company*/
.list_area,.list_area1{margin:0 auto;margin-top:30px;line-height:24px;z-index:-1;}
.list_area p,.list_area1 p{text-indent:32px;line-height: 30px;}
.area2{display: none;margin: 0 auto;text-align: left;width: 780px;}
.jianlist,.jianlist2{text-align:center;margin:0 auto;width:1080px;}
.jianlist li{float:left;padding:10px;display: inline-block;width:20%;}
.jianlist2 li{float:left;padding:10px;display: inline-block;width:25%;}
.jianlist2 li img{width: 100%;max-width: 150px;}
.jianlist li img{max-width: 100%;}
.jianlist li p,.jianlist2 li p{text-align:center;text-indent:0px;height:40px;}
.divblock{display:block;}
.area3{color:#fff;width:600px;margin:0 auto;}
span.org{color:#cd441e;font-weight:700;}
.orgg{color:#ffa800;font-weight:700;font-size:16px;}
.pic_list{margin:0 auto;width:800px;box-sizing:border-box;margin-top:50px;text-align:left;}
.pic_list li{width: 20%;float: left;padding:10px 0;}
.pic_list img{display:block;width:120px;max-width:90%;text-align:center;margin: 0 auto;padding:8px;}

/*img scroll*/
.gundong{width:100%;margin:0 auto;margin-top:40px;margin-bottom:50px;text-align: center;}
#move{height:100px;margin:0 auto;text-align: center;display:inline-block;}
#move li{display:inline-block;padding:0 15px 0 10px;float:left;background: url(dian.png)/*tpa=http://www.chinajey.com/resources/images/dian.png*/ no-repeat center right;}
#move li.end{padding:0 0 0 10px;background:none;}
#move li p{z-index: -1;width:100px;height:100px;display:inline-block;line-height:100px;border:1px solid #b7c9d5;border-radius:60px;/*background-color:#f2f2f2;*/margin:0 10px;background-size:100%;}
#move li p span.nor{color:#666;font-size:18px;display: block;text-align: center;padding-top:30px;}
#move li p span.weight{font-size:18px;display: block;text-align: center;}
#move li:hover{cursor: pointer;}
#move li p.sel{border:0;background-color:#cd441e;}
#move li:hover p span,#move li p.sel span{color:#fff;}
#move li:hover p{
border:0;background-color:#cd441e;
animation:back-y-spin 2s linear alternate;
-moz-animation:back-y-spin 2s linear alternate; /* Firefox */
-webkit-animation:back-y-spin 2s linear alternate; /* Safari and Chrome */
-o-animation:back-y-spin 2s linear alternate; /* Opera */
perspective:600;
animation-duration:2s;
-moz-animation-duration:2s;
-webkit-animation-duration:2s;
-o-animation-duration:2s;
animation-iteration-count:1;
-moz-animation-iteration-count:1;
-webkit-animation-iteration-count:1;
-o-animation-iteration-count:1;/*infinite*/
animation-timing-function:ease-in-out;
-moz-animation-timing-function:ease-in-out;
-webkit-animation-timing-function:ease-in-out;
-o-animation-timing-function:ease-in-out;
transform-style:preserve-3d;
}
@keyframes back-y-spin 
{
0% {transform:rotateY(360deg); }
50% {transform:rotateY(180deg); }
100% {transform:rotateY(0deg); }
}
@-webkit-keyframes back-y-spin /* Safari and Chrome */
{
0% {-webkit-transform:rotateY(360deg); }
50% {-webkit-transform:rotateY(180deg); }
100% {-webkit-transform:rotateY(0deg); }
}
@-moz-keyframes back-y-spin /* Firefox */
{
0% {-moz-transform:rotateY(360deg); }
50% {-moz-transform:rotateY(180deg); }
100% {-moz-transform:rotateY(0deg); }
}
@-o-keyframes back-y-spin /* Opera */
{
0% {-o-transform:rotateY(360deg); }
50% {-o-transform:rotateY(180deg); }
100% {-o-transform:rotateY(0deg); }
}
#scrollBar {
    width: 100%;
    height: 20px;
    background: #FF0000;
    margin: 0 auto;
    position: relative;
}
#scroll {
    width: 30px;
    height: 20px;
    background: #000;
    cursor: pointer;
    position: absolute;
}
.ti130 p{text-indent: 130px;}
#Main-Content{margin-top:50px}
/*foot*/
footer{position:absolute;float:left;margin:0 auto;text-align:center;width:100%;color:#b7c9d5;background-color:#2e4452;padding:30px 0px 20px 0px;}
footer p{padding-top:20px;font-size:16px;}
footer p.coypinfo{font-size:12px;}
footer a{color:#b7c9d5;}
footer a:hover{color:#fff;}
footer .txt{display: inline-block;margin:0 auto;text-align: center;}
footer .scan{margin:0px 15px 0px 30px;}
.fontweight{font-weight:700;padding:0px 2px;}
#sideCodeqq {
    position: fixed;
    right: 10px;
    bottom: 50%;
    z-index: 999;
    border-radius: 5px;
    padding:10px;
    border:1px solid #e3e3e3;    
    background-color:rgba(255,255,255,0.8);font-size: 1em;
    width:140px;
    height:140px;
}
#sideCodeframe{width: 100%;height:100%;}
#sideCodeframe li{font-size:14px;text-align:center;background: transparent;border: 1px solid #e3e3e3;border-radius: 3px;margin: 3px;padding: 5px;}
#sideCodeframe li img{border:0;vertical-align: middle;padding:0px 5px 0px 0px;}
#sideCodeframe li,#sideCodeframe li a{color:#cd441e;}
#sideCodeframe li.line{border-top:1px solid #e3e3e3;padding:10px 0px 5px 0px;margin-top:10px;}#sideCodeqq li.line{border-top:1px solid #e3e3e3;padding:10px 0px 5px 0px;margin:10px 0;border-bottom: 1px solid #e3e3e3;}

.lists{display: none;
	width:40px;
	border-color:#ccc;
	position:relative;
}
.lists:before,
.lists:after{
	content:"";
	position:absolute;
	top:7px;
	left:3px;
	width:18px;
	height:2px;
	border-radius:1px;
	background:#ccc;
	-webkit-transition:all 0.25s ease;
	     -o-transition:all 0.25s ease;
	        transition:all 0.25s ease;
}
.lists.lsc:before,
.lists.lsc:after{
	background:#999;
}
.lists:after{
	top:16px;
}
.lists.close:before{
	left:3px;
	top:11px;
	-webkit-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg);
}
.lists.close:after{
	left:3px;
	top:11px;
	-webkit-transform:rotate(-45deg);
	     -o-transform:rotate(-45deg);
	        transform:rotate(-45deg);
}
.a-more{color: #fff;text-align: center;width: 100px;margin: 20px auto;display: block;border: 1px solid #fff;border-radius: 2px;line-height: 25px;}
@media only screen and (max-width: 1700px){
	.flipster{width:80%;}
	}
@media only screen and (max-width: 1440px){
	.flipster{width:90%;}
	}
@media only screen and (max-width: 1366px){
	.main1,.main2,.main3,.main4{margin-top:15%}
	}
@media only screen and (max-width:1280px){
	article.art4{height:auto;}
	#sideCodeqq{font-size:12px;padding:5px;}
	article.art1{height:580px;}
	.fangai{width:98%!important;}
	.fangaiblock .cont h4{padding:10px 0!important;}
}
@media only screen and (max-width: 1160px){

}
@media only screen and (max-width: 1024px){
	header .logo{margin:20px 0 0 0px;}
	header .logo a{width:auto;height:auto;}
	header .longin span{padding:5px 10px;font-size:16px;margin:0 5px;}
	.main1, .main2, .main3, .main4{margin-top:20%;}	
	.navmin{width:98%;}	
	nav .navmin li{width:25%}
	nav .navmin li a,span.tit,span.cont{width:100%;}
	.pic_list{width:auto;padding:0px 20px;}
	.area2{width:90%;}
	.jianlist{width:100%;}
	.jianlist li{padding:5px;}
	.jianlist li img{width:80%;}
	#move li{width:16%;}
	.flipster{width:96%;}
	
}
@media only screen and (max-width: 912px){
span.tit,span.cont{font-size: 12px;}
}
@media only screen and (max-width: 768px){
	header .logo{margin:20px 0 0 5px;}
	header .logo a{width:auto;height:auto;}
	header .longin{margin-right:5px;}
	header .longin span{padding:5px 0px;font-size:16px;margin:0 1px;}
	article.art2{height:auto;min-height:670px;}
	.main1, .main2, .main3, .main4{margin-top:30%;width:100%;margin-left:auto;}
	.main1 p.tit,.main2 p.tit,.main3 p.tit,.main4 p.tit{font-size:28px;line-height:38px;}
	.main1 p.titone,.main2 p.titone,.main3 p.titone,.main4 p.titone{font-size:20px;line-height:36px;}
	.main1 p,.main2 p,.main3 p,.main4 p{font-size:12px;line-height:20px;}	
	article.art1{height:500px;}
	.gundong{width:100%;margin-top:10px;margin-bottom:10px;}
	#move{height:auto;}
	#move li{background-size:3%}
	#move li p{margin: 0;}
	#move li p span.weight{font-size:14px;}
	#move li p {width: 82px;height: 82px;line-height:82px;}
	table tr,table td.tdtxt{float:left;display: inline-block;width:100%;}
	table.txt td{float:left;width:50%;padding-top:20px;}
	table.txt td:first-child{float:left;width:100%;}
	.jianlist li{width:33.33%}
	.jianlist2 li{width:33.33%}
	.jianlist2 li p{line-height: 16px;}
	.area3{width:90%;}
	/*.flip-content{margin:0 auto;text-align: center;width:90%;}*/
	.flipster-carousel .flip-items img,span.itemTitle{height:auto;}
	span.itemTitle{text-align: left;}
	.ti130 p{text-indent: 36px;}
}
@media only screen and (max-width: 640px){
 	.ti130 p{text-indent: 0;}
}
@media only screen and (max-width: 480px)  {
	header .logo{margin:5px 0 0 0px;float: inherit;}
	header .logo a{width:50%;height:auto;text-align: left;}
	header .logo a img{width:100px;margin-left: 30px;}
	header .longin{margin:0;float: inherit;}
	header .longin span{padding:0px;font-size:12px;margin:0px;float:left;width:16.3%;}
	header .longin span ins{font-size:12px}
	span.tit, span.cont{transform: scale(0.8);top:40%;}
	.area2{height: auto;}	
	span.cont,span.tit{font-size:14px;}
	article.art1{height:400px;}
	#move li{padding:0 10px 0 5px;}
	#move li p{width:60px;height:60px;line-height:60px;}
	#move li p span.weight{font-size:12px;}
	footer p{font-size: 14px;}
	.jianlist li{width:50%}
	.lists{display: block;border:2px solid #ccc; border-radius:3px;right: 10px;position: absolute;top: 6px;width: 28px;height: 28px;z-index: 10;}
	.longin{display:none;position:absolute;width:50%;height:800px;top:0;background: rgba(0,0,0,0.8);z-index: 1;right: 0;padding-top: 20px;}
	header{height: 40px;}
	header .longin span{display: block;float: none;width: 50%;padding: 5px 0;}
	
}
@media only screen and (max-width: 360px){
	#move li p {width: 54px;height:54px;line-height:54px;}
	.main1, .main2, .main3, .main4{margin-top:35%;}
	.gundong{margin-top:10px;}
	.list_area, .list_area1{margin-top:0;}
	.itemTitle{line-height: 16px;font-size: 12px;}
	.pic_list li{width: 33.3%; float: left;}
	.pic_list img{width: 100%;}
}
@media only screen and (max-width: 320px){	
	article.art4{height:auto;}
	.list_area, .list_area1{width:98%;height:auto;}
	.list_area p, .list_area1 p{text-indent:24px;font-size:12px;}
	.main1, .main2, .main3, .main4{margin-top:40%;}	
	nav{bottom:20px;}
	span.tit,span.cont{font-size:12px;}
	#move li{width:33.3%;margin-bottom:5px;}
	#move li.end{padding:0;}
	#move li p {width: 67px;height:67px;line-height:67px;}
	.main1, .main2, .main3, .main4{margin-top:40%;width:100%;margin-left:auto;}
	.main1 p.tit,.main2 p.tit,.main3 p.tit,.main4 p.tit{font-size:22px;line-height:28px;}
	.main1 p.titone,.main2 p.titone,.main3 p.titone,.main4 p.titone{font-size:16px;line-height:26px;}
	.main1 p,.main1 p span.org,.main2 p,.main3 p,.main4 p{line-height:20px;}
	
}
.txd{color: #0ae;text-decoration: underline;}

.fangai{margin: 0 auto;text-align: center;width:1000px;margin-top:20px}
.fangaiblock{cursor:pointer;position:relative;width:15%;border-radius: 5px;background-color: #f8f8f8;float:left;margin:0.8% 0.8% 50px 0.8%;padding:30px;}
.fangaiblock p a{font-size: 0.9em;}
.oddclass{background-color: #2e4452;color: #fff;}
.fangaiblock img{margin:0 0 20px 0;}
.fangaiblock span{display: block;font-size: 1em;}
.fangaiblock .cont{display:none;position: absolute;z-index: 99;top:0;left:0;width:100%;height:100%;background-color: #7593a8;color:#fff;border-radius: 5px;}
.fangaiblock .cont h4{padding:20px 0 10px 0;}
.fangaiblock .cont span{text-align: left;font-size: 0.8em;padding:0 10px;}
.fangaiblock p{display: inline-block;margin:0 auto;text-align: center;position: absolute;left:0;right:0;bottom:-20px;z-index: 999;}
.fangaiblock a{display:inline-block;background-color: #f9653c;border:0;border-radius: 3px;color: #fff;padding:3px 22px;text-align: center;}
