img{max-width:100%;}
.section{position:relative;overflow: hidden;z-index: 10;padding-bottom: 20px;height:800px;}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.clearfix {
	*+height: 1%;
}
.mt20{margin-top:20px!important;}
.com-example{background: #f2f2f2;}
.pagetwo.com-example .img-text2 span{background-color: #F2F2F2;}
.img-logo{position: absolute;top:20px; left: 45px;}
.pageone{background:#252523 url(bg01.jpg)/*tpa=http://www.chinajey.com/resources/images/yiyun/bg01.jpg*/ no-repeat center top;background-size:100% auto;}
.pagethree{background:#368caf url(bg1.jpg)/*tpa=http://www.chinajey.com/resources/images/sap/bg1.jpg*/ no-repeat center top;background-size:100% auto;}
.pagetdwork{background:#35617e url(bg1-1.jpg)/*tpa=http://www.chinajey.com/resources/images/dwork/bg1.jpg*/ no-repeat center top;background-size:100% auto;}
.pagesap{background:#27272a url(banner-1.jpg)/*tpa=http://www.chinajey.com/resources/images/sapb1/banner.jpg*/ no-repeat center top;background-size:100% auto;}
.pagesaps{background:#feba17 url(bannersaps.jpg)/*tpa=http://www.chinajey.com/resources/images/sapb1/bannersaps.jpg*/ no-repeat center top;background-size:100% auto;}
.bg1{background:url(bg.png)/*tpa=http://www.chinajey.com/resources/images/sapb1/bg.png*/ no-repeat center bottom;}
.bg2{background:url(bg2.jpg)/*tpa=http://www.chinajey.com/resources/images/sap/bg2.jpg*/ no-repeat center bottom;}
.bg3{background:url(bg3.jpg)/*tpa=http://www.chinajey.com/resources/images/sap/bg3.jpg*/ no-repeat center bottom;}
.pagefour{background:#2d4d5c url(title-bg.jpg)/*tpa=http://www.chinajey.com/resources/images/gongzi/title-bg.jpg*/ no-repeat center top;background-size:100% auto;}
.img-text{z-index: 1;width:auto;margin: 20px auto 40px;text-align: center;margin:0 auto;margin-top:15%;}
.img-text h1{font-size:2.8em;color:#fff;text-align:center;font-weight:normal;margin-bottom: 20px;}
.img-text h1 sup{top:-2.6em;font-size:26px;text-align:center;display:inline-block;background:url(bgver.png)/*tpa=http://www.chinajey.com/resources/images/gongzi/bgver.png*/ no-repeat center center;color:#fff;width:85px;height:67px;line-height:52px;}
.img-text p{margin-bottom:10px;}
.img-text .p-title{color: #6a6a6a;font-size:18px;}
.img-text .p-titleyiy{color: #6a6a6a;font-size:30px;}
.img-text .bluetxt{color:#fff;font-size:1.2em;margin-bottom:10px;text-align: center;}
/*.pagethree .img-text{top:20%;left:0;right:0;margin:0 auto;text-align: center;}*/
.pagethree .img-text h1{text-align: center;}
.pagethree .img-text .text{margin: 0 auto;text-align: center;display: inline-block;}
.pagethree .img-text .p-title{width:100%;}
.pagetdwork .img-text h1{text-align: center;}
.pagetdwork .img-text .text{margin: 0 auto;text-align: center;display: inline-block;}
.pagetdwork .img-text .p-title{width:100%;}
.a-reg{text-align:center;margin-top:30px;width:140px;border:0;background-color:#cd441e;color: #fff;font-size: 22px; line-height:50px; height:50px;box-sizing:content-box;border-radius:6px;}
.a-reg:hover{background: #f56e44;color:#fff;text-decoration: none;}
.txtleft{text-align: left;padding-top:50px;}
.fp-tableCell{vertical-align:top;}
.img-bg{position: absolute;bottom: 20%;right: 16%;z-index:1;max-height: 100%; max-width: 100%;}
.pagetwo{margin:0 auto;text-align: center;height:auto;}
.pagetwo .img-text2{margin-top:150px;}
.pagetwo .img-text2 p{font-size:16px;display: block;width:50%;margin:15px auto;text-align: left;line-height: 30px;}
.pagetwo .img-text2 .p-title{text-align:center;font-size:30px;color: #6a6a6a;width:600px;margin:20px auto 10px auto;}
.pagetwo .img-text2 span{color:#000;text-align:center;padding:0 60px;background-color:#fff;margin-top:12px;font-size:28px;display:inline-block;margin-bottom: 20px;}
.pagetwo .img-text2 p.tit{border-bottom:2px solid #ADADAD;width:80%;display:block;margin:-40px auto;}
.pagetwo .a-reg2,.pagetwo .a-reg3{display:block;text-align:center;width: 350px;border:2px solid #1e8bcd;color: #1e8bcd;font-size: 22px; line-height:56px; height:56px;box-sizing:content-box;border-radius:40px;margin:20px auto;}
.pagetwo .a-reg2:hover,.pagetwo .a-reg3:hover{background: #eee;color:#1e8bcd;}
.pageheight{height:auto!important;padding-bottom: 60px;}
.grybg .img-text2 span{background-color:#eee;}
.pagebg{background:url(bg05.png)/*tpa=http://www.chinajey.com/resources/images/yiyun/bg05.png*/ no-repeat center 330px;
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    height:700px;}
.pagebg.pagetwo .img-text2 p{width: 660px;}
.pagebg.pagetwo .img-text2 p.tit{width: 80%;}
.col-6{float:left;margin:150px 0px 50px 0px}
.col-6.txtleft img{margin-left:100px;}
.img-bg2{z-index:-1;max-height: 100%;max-width: 100%;margin:0 auto;margin-top:2%;}
.div-login{position: absolute;top:22px; right: 41px; z-index: 11;}
.div-login span{font-size:16px;}
.div-login a{color:#1e8bcd;font:16px arial,"Microsoft YaHei",sans-serif;padding:10px;}
.wd80{width:60%;margin:0 auto;}
.wd50{width:750px;margin:0 auto;}
.col-4{padding:5% 6% 0 5%;margin:0 auto;float:left;width:33.3%;box-sizing:border-box}
.col-4 span{font-size:24px;color:#000;display:block;margin:15% 0;}
.col-4 p{color:#6a6a6a;font-size:16px;text-align:left;display: block;}
.col-4 img{max-width:100%;}
.col-6{padding:5% 0;margin:0 auto;float:left;width:49%;box-sizing:border-box}
.col-6 span{font-size:24px;color:#000;display:block;margin:5% 0;}
.col-6 p{color:#6a6a6a;font-size:16px;text-align:left;display: block;}
.col-6 img{max-width:100%;margin-top:10%;}
.pagetwo .img-text2 span.nopaddingleft{padding-left:0px;}
.grybg{background-color:#eee;}
.weidiv .img-text2 span{background-color:#eee;}
.weidiv .img-text2{margin-top:3%;}
.a-reg2{position:absolute;bottom:20px;right:0;left:0;z-index: 11;background-color:#fff;}
.a-reg3{;z-index: 11;background-color:#fff;}
.a-reg img,.a-reg2 img{margin-right:10px;}
.img-title{margin-bottom: 20px;}
.fp-tableCell{overflow: hidden;}
.col-3{width:25%;float:left;}
.col-3 img{max-width:100%;}
a.a-down{font-size:12px;background-color: #333;border: 1px solid #111;border-radius: 3px;width: 80px;line-height: 25px;margin: 0 auto;}
#fp-nav.right{width:30px}
#fp-nav ul li, .fp-slidesNav ul li{width: 20px;height: 20px;margin: 20px 0;}
#fp-nav ul li a span, .fp-slidesNav ul li a span{border:3px solid #1e8bcd;width: 20px;height: 20px;}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span{background: #1e8bcd;}

.wizard-header h3{font-size:18px;font-weight:normal!important;}
.weidiv{overflow:scroll!important;}
.popover{font-size:12px!important;}
.popover-content{padding:12px 6px;}
.pagetwo .img-text2.nowidth{margin-top:50px;}
/*footer{background-color:#fff;height:120px;width: 100%;z-index: 2;font:14px/16px arial,"Microsoft YaHei",sans-serif;}
footer{margin:0 auto;text-align:center;color:#a1a1a3;padding:30px 0px 0px 0px}
footer p{padding-top:20px;font-size:16px;margin:0;}
footer a{color:#a1a1a3;}
footer .txt{display: inline-block;margin:0 auto;text-align: center;margin-bottom:30px;}
footer .scan{margin:0px 15px 0px 30px;}
#myModal{width:880px;margin: 10% auto 0 auto;}
#myModal .modal-body{height:600px;padding:0px;}
* */


.news-bg{padding:0 15px;}
.news-bg textarea{width:100%;}
.pic_list{margin:0 auto;width:800px;display:inline-block;margin-top:50px;padding-bottom:50px;text-align:left}
.pic_list li{width: 20%;float: left;padding:10px 0;}
.pic_list img{display:block;width:120px;max-width:90%;text-align:center;margin: 0 auto;padding:8px;/*border: 1px solid #dfdfdf;border-radius: 6px;box-shadow: 0 1px 1px rgba(0,0,0,.2);*/}

.redtit{font:16px arial,"Microsoft YaHei",sans-serif;color:#cd441e;padding-left:20px;}
.a07{display:inline-block;color:#cd441e;border:1px solid #cd441e;border-radius:60px;height:20px;line-height:20px;width:20px;text-align: center;}
.news-bg table div.tit{padding:10px 0 20px 0;margin-bottom:10px;border-bottom:1px dashed #666;width:100%;display: block;}
.a09{color:red;}
.news-bg input {
font-family: "微软雅黑";
font-size: 12px;
line-height: 18px;
color: #666666;
text-decoration: none;
padding:5px 10px;
border:1px solid #ddd;
border-radius:3px;
margin:5px;
}
input[type="checkbox"] {
-webkit-appearance: checkbox;
box-sizing: border-box;
border:1px solid #ddd;
border-radius:3px;
margin:5px;
padding:3px;
}
.news-bg textarea{
color: #666666;
text-decoration: none;
padding:5px 10px;
border:1px solid #ddd;
border-radius:3px;}
.news-bg input.input-t,.news-bg input.input-c{
border:1px solid #1f8acc;
border-radius:3px;
margin:5px;

width:60px;
background-color:#1f8acc;
color:#fff;
font:16px arial,"Microsoft YaHei",sans-serif;
}
.loginpop{color:#888;}
.loginpop a{color:#1e8bcd;text-decoration:underline;cursor:pointer;}
.loginpop li{font-size:14px;line-height:40px;text-align: left;}
.loginpop li input{width:100%;padding:0 10px;height:40px;line-height:40px;border-radius:3px;border:1px solid #c8c8c8;}
.loginpop li input.checkinput{width:160px;}
.loginpop li input[type=checkbox]{width:20px;display: inline-block;}
.loginpop li input[type=checkbox]:focus{border:0px;box-shadow:none;}
.loginpop li button{background-color:#2089cb;color:#fff;border:0;height:40px;border-radius:3px;font-size:16px;}
.loginpop li button:hover{background-color:#1e8bcd;color:#fff;}
.loginpop li button.checkbtn{width:115px;padding:0 10px;float:right;}
.loginpop li button.btn{width:100%;margin-top:10px;margin-bottom:10px;}
/*table td.tdinput{width:43%;}
table td.tdtxt{width:26%;}*/
#sideCode {
    position: fixed;
    left: 100px;
    top: 10%;
    z-index: 999;    
    padding:0px 10px;
    
}
.pagetwo .img-text2.p-strong p{
	font-size: 16px;
}
.p-strong strong{font-weight: bold;margin-right: 14px;font-size: 18px;}
/*#sideCode ul{margin:0;}
#sideCode li{text-align:center;width:100px;height:50px;line-height:50px;border:1px solid #e3e3e3;background-color:rgba(255,255,255,0.8);margin:5px;border-radius:5px;}
#sideCode li:hover{background-color:rgba(255,255,255,0.1);}
#sideCode li.line{border-top:1px solid #e3e3e3;}
#sideCode li a{color:#000;display: block;width:100%;height:100%;font-size: 18px;}
#sideCode li a:hover{color:#1e8bcd;}
*/
.lists{display: none;
	width:40px;
	border-color:#ccc;
	position:relative;
}
.lists:before,
.lists:after{
	content:"";
	position:absolute;
	top:7px;
	left:3px;
	width:18px;
	height:2px;
	border-radius:1px;
	background:#ccc;
	-webkit-transition:all 0.25s ease;
	     -o-transition:all 0.25s ease;
	        transition:all 0.25s ease;
}
.lists.lsc:before,
.lists.lsc:after{
	background:#999;
}
.lists:after{
	top:16px;
}
.lists.close:before{
	left:3px;
	top:11px;
	-webkit-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg);
}
.lists.close:after{
	left:3px;
	top:11px;
	-webkit-transform:rotate(-45deg);
	     -o-transform:rotate(-45deg);
	        transform:rotate(-45deg);
}
.dworktwo{position: absolute;top:210px;left:13%;width:20%;text-align: left;line-height: 30px;}
.dworkthree{position: absolute;top:200px;right:13%;width:20%;text-align: left;line-height: 30px;}

@media only screen and (max-width: 1441px){
	.col-6 img{max-height: 75%;max-width: 75%;}
	.col-4{padding: 0 2%;}
	.col-4 span{padding:0;margin:6% 0px}
	.img-bg{max-height: 45%;max-width: 45%;right:10%;bottom: 30%;}
	.div-img-a{max-height: 55%;max-width:55%;}
	.section{height:auto;}
	.img-text{top: 30%;}
}
@media only screen and (max-width: 1367px){
	.col-4{padding: 0 2%;}
	.col-4 span{padding:0;margin:7% 0px}
	.img-text .p-title{width:55%;}
	.col-6 img{max-height: 75%;max-width: 75%;}
	.img-bg{max-height: 45%;max-width: 45%;right:5%;}
	.div-img-a{max-height: 45%;max-width:45%;}
	header .longin span{padding:0;margin:0 20px;}
	header .longin{margin-right:0!important;}
	
}
@media only screen and (max-width: 1460px){
/*.pic_list{width:80%;display:inline-block;margin:0 auto;text-align: center;}*/
#sideCode {left: 30px;}
}
@media only screen and (max-width: 1024px){
	.section.exbox{height:auto;}
	.co-4{padding:0 2%;}
	.col-4 span{padding:0;margin:2% 0px}
	.weidiv .img-text2 { margin-top:2%;}
	.img-text .p-title{width: 65%;}
	.col-6 img{max-height: 85%;max-width: 85%;}
	.img-bg{max-height: 45%;max-width: 45%;right:10px;bottom:16%;}
	.div-img-a{max-height: 65%;max-width:65%;margin-top:5%;}
	.img-text{top:10%}
	header .longin span{padding:0;margin:0 15px;}
	header .longin{margin-right:0;}
	.pagebg{height:600px;background-position-y: 220px;}
	#sideCode{top:10%;left:10px;}
}
@media only screen and (max-width: 768px){
	.pagebg{background-position-x: -450px;}
	header p{font-size:16px;}
	header p span{font-size:12px;}
	.col-4{padding: 0 2%;}
	.col-4 span{padding:1% 0;margin:2% 0px;}
	.col-4 p{font-size:14px;}
	.col-4 img{width:65%;}
	.pagethree .img-text{left:10%;}
	.img-text h1{font-size:2.8em;}
	.img-text .p-titleyiy{font-size:24px;}
	.img-text .bluetxt{font-size:20px;}
	.pagetwo .img-text2 p.tit{width:90%;}
	.pagetwo .img-text2 { margin-top: 15%;}
	.weidiv .img-text2 { margin-top:0%;}
	.weidiv .img-text2 span{display: block;margin-top:0%;font-size:30px;}
	.pagetwo .img-text2 span{font-size:32px;}
	.pagetwo .div-img-a{margin-top:10%;width:75%;}
	.weidiv .nowidth{margin-top:1%;}
	.img-logo{top:10px;left:10px;}
	.img-title{width:65%;}
	.wd80{margin-top:5%;width:80%;}
	.wd50{width:100%;}
	.col-6{margin-top:30px;}
	.col-6 img{max-height: 80%;max-width: 80%;}
	.pagetwo .img-text2 p{width:90%;}
	.div-login{right:0px;}
	.div-login a{font-size: 16px;}
	.a-reg,.pagetwo .a-reg2, .pagetwo .a-reg3{width:180px;height: 40px;line-height:40px;font-size: 16px;font-weight: bold;border-width: 2px;}
	.a-reg img,.pagetwo .a-reg2 img, .pagetwo .a-reg3 img{width:10%;}
	.img-text{width:60%;left:10%;}	
	.pagetwo .img-text2 .p-title{width: 65%;font-size:22px;margin-bottom: 10px;margin:5% auto;}
	.weidiv .img-text2 .p-title{margin-top:4%;}
	.div-down{margin: 0 auto;width: 70%;}
	.div-down img{width: 100%;padding-bottom: 0;vertical-align: top;}
	.div-left{width: 40%;}
	.div-right{width:50%;margin-left: 5%;}
	.img-bg{max-height:55%;max-width:55%;right:6%;bottom:0;}
	#fp-nav.right{left:10px;width:20px;margin-left: 0;}
	#fp-nav ul li, .fp-slidesNav ul li{width: 10px;height: 10px;margin: 20px 0;}
	#fp-nav ul li a span, .fp-slidesNav ul li a span{border:3px solid #1e8bcd;width: 10px;height: 10px;}
	/*footer{display:none}*/
	.modal-dialog{margin:0 auto;}
	.wizard-dialog,.wizard-content{width:98%!important;height:460px!important;margin:0 auto;padding:0;font-size:14px;margin-top:10px!important;}
	.wizard-body,.wizard-steps{height:400px!important;}
	.wizard-footer{position:absolute;bottom:5px;right:5px;}
	#myModalService .modal-dialog{margin-top:10px!important;width:98%!important;}
	.wizard-card > h3{margin-bottom:0;line-height:16px!important;}
	.wizard-error, .wizard-failure, .wizard-success, .wizard-loading, .wizard-card{padding:10px!important;}
	.wizard-card .form-group{padding:0;margin:2px;}
	.wizard-card .form-control{height:30px;padding:6px;}
	.pic_list{width:80%;display:inline-block;margin:0 auto;text-align: center;}
	
}
@media only screen and (max-width: 480px){
	.pagetwo .img-text2 span{font-size:20px;margin:5% auto;}
	.pagetwo .img-text2 .p-title{font-size:16px;}
	.img-text h1{font-size:1.8em;}
	.img-text .p-titleyiy{font-size: 16px;}
	.img-text .bluetxt,.pagetwo .img-text2 p{font-size:14px;}
	.col-6.txtleft img{margin-left:10px;}
	.col-6 span{font-size:20px;}
	footer p{font-size: 14px;}
	table tr,table td.tdtxt{float:left;display: inline-block;width:100%;}
	table.txt td{float:left;width:50%;padding-top:20px;}
	table.txt td:first-child{float:left;width:100%;}
	.col-6.txtleft img{margin-left:30px;}
	table td.tdinput,table tr td:first-child,table tr td:last-child{float:left;}
	.redtit{font-size:16px;}
	.lists{display: block;border:2px solid #ccc; border-radius:3px;right: 10px;position: absolute;top: 6px;width: 28px;height: 28px;z-index: 10;}
	.longin{display:none;position:absolute;width:50%;height:800px;top:0;background: rgba(0,0,0,0.8);z-index: 1;right: 0;padding-top: 20px;}
	header{height: 40px;}
	header .longin span{display: block;float: none;width: 50%;}
	table{font-size:12px}
	.tdinput{width:60%}
	.news-bg input{width:100%;}
	td:first-child div{line-height: 40px;width: 80px;}
	table td.tdtxt{width:90%}
	td:nth-child(3){width: 90%;}
	td:nth-child(3) div{width:100%;text-align: right;}
	td:first-child div.wauto{line-height: 14px;width: auto;}
	.wd100{width: 100%;}
	.news-bg table div.tit{padding-bottom: 0;}
	.pagetwo .img-text2 p.tit{margin: -40px auto -36px;}
	.col-6{margin-top: 0;}
	.pic_list li{width:33.3%;}
	.pic_list img {width: 100% !important;}
}
@media only screen and (max-width: 360px){
	.img-text{top:20%;}
	.img-text h1{font-size:1.8em;}
	.img-text .p-titleyiy{font-size: 16px;}
	.img-text .bluetxt,.pagetwo .img-text2 p{font-size:14px;}	
	.a-reg2,.a-reg3{bottom: -15px!important;}
	.a-reg, .pagetwo .a-reg2, .pagetwo .a-reg3 {
	    width: 140px;
	    height: 30px;
	    line-height: 30px;
	    font-size: 14px;
	    font-weight: bold;
	    border-width: 2px;
	}
	.pagetwo .img-bg2 {
	     margin-top:1%; 
	  
	}
	.nowidth{width:30%;}
	.weidiv .img-text2 span{font-size:26px;}
	.modal-dialog{width:98%!important;margin-top:10px!important;}
	.img-bg2{margin-top:10%!important;}
	.pagetwo .img-text2 .p-title{font-size:16px;}
	.wd80{margin-top:0;}
	.a-reg3{margin-top:30px!important;}
	.pagetwo .img-text2 span{font-size:20px;margin-top:20px;padding:0 10px;}
	.col-6 span{font-size:16px;}
	.redtit{font-size:14px;}
}
.org{color:#cd441e;font-weight:700;}

.hangye{margin:0 auto;text-align: center;width:60%;}
.hangye a{margin:5px;padding:10px 0;width:20%;border:1px solid #438aa7}
.tiapblock{margin-bottom: 20px;float:left;}
.tiapblock .img{float:left;width:70px;}
.tiapblock .tit{float:left;width:70px;color:#348aad;font-size: 2.4em;font-family: Impact;}
.tiapblock .txt{margin-left:80px;text-align: left;}
.tiapblock .txt h4{margin:0;font-size: 0.9em;}
.tiapblock .txt p{margin:0;font-size: 0.8em;width:100%;line-height:20px;}
.kublock{position: relative;background-color: #e3eef2;margin:40px 10px;padding:40px 10px;text-align: center;height:300px}
.kublock .round{position:absolute;top:-40px; left:50%;margin-left:-38px;z-index:999;font-size: 0.9em;background-color: #707070;border-radius:100px;width: 76px;height:76px;text-align: center;}
.kublock .round img{margin-top:10px;}
.kublock .round span{display: block;font-size: 0.9em;padding:0;margin:5px 0;background-color: transparent;color: #fff;}
.kublock span{display: block;width:100%;text-align: center;font-size: 0.95em!important;background-color: transparent!important;margin:5px 0!important;padding:0!important;}
.one .col-3:nth-child(2) .kublock,.one .col-3:nth-child(4) .kublock{background-color: #dcdcdc;}
.one .col-3:nth-child(2) .round,.one .col-3:nth-child(4) .round{background-color: #438aa7;}
.two .col-3:nth-child(1) .kublock,.two .col-3:nth-child(3) .kublock{background-color: #dcdcdc;}
.two .col-3:nth-child(1) .round,.two .col-3:nth-child(3) .round{background-color: #438aa7;}
.wd60{width:60%;margin: 0 auto;}
.col-4 .tiapblock .tit{display: block;width:100%;font-size: 1.2em;font-weight: 700;padding-bottom: 20px;}
.col-4 .tiapblock .txt{margin-left:0;}
.col-4 .tiapblock .txt p{text-align: center;}
/*container*/
.container{margin:0 auto;width:60%;}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 100%;
	list-style: none;
	text-align: center;
}

.grid h2{
    font-size: 26px;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: auto;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 15%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
    color: #fff;
}

figure.effect-bubba p {
	padding: 20px 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
@media only screen and (max-width: 1440px) {
	figure.effect-bubba h2 {
	padding-top: 0;  
}

	figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
	}
	figure.effect-bubba p{padding:0;}
}